# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
# don't include third-party dependencies.
lib/
!lib/README.md
.DS_Store
.idea
Flaredown-24ac7b1e7653.json

# Installer logs
pip-log.txt
pip-delete-this-directory.txt
